.homeNav .dropdown-menu {
    position: absolute;
    list-style: none;
    text-align: start;
    padding-top: 1rem;
    background-color: #0f172a;
    line-height: 1.8;
  }

  .homeNav .dropdown-menu.clicked {
    display: none;
  }
  

  @media screen and (max-width: 800px) {
    .homeNav .dropdown-menu {
        padding-top: 0;
        left: 60%;
    }
  }