.musicHeadTitle {
  width: 100%;
  height: 384px;
  padding: 101px 51px 0 51px;
  color: white;
  background: #000;
  font-family: "Futura";
  position: relative;
  overflow: hidden;
}

.musicHeadTitle_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: var(--background-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.musicHeadTitle_inner::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 1;
  background: #000;
}

.musicHeadTitle_subtitle {
  font-size: 18px;
  z-index: 3;
  position: relative;
}

.musicHeadTitle_title {
  font-size: 82px;
  white-space: nowrap;
  z-index: 3;
  position: relative;
}

@media only screen and (max-width: 775px) {
  .musicHeadTitle_title {
    font-size: 56px;
  }
}

@media only screen and (max-width: 578px) {
  .musicHeadTitle_title {
    font-size: 36px;
  }

  .musicHeadTitle {
    padding: 101px 15px 0 15px;
  }
}
