.musicAlbums_discs {
  padding-top: 105px;
  padding-bottom: 78px;
  background: #000;
  color: #ffffff;
  font-family: "Futura";
  font-weight: 400;
  position: relative;
}

.musicAlbums_disc_rows {
  position: relative;
}

.musicAlbums_album_li {
  flex: 0 0 33%;
  max-width: 33%;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  padding: 0 15px;
  position: relative;
}

.musicAlbums_disc {
  overflow: hidden;
}

.musicAlbums_album_li a {
  text-decoration: none;
  transition: all 200ms ease;
  font-size: 14px;
  font-family: "Futura";
  position: relative;
}

.musicHome_featured_album_image {
  width: calc(100% + 42px);
  position: relative;
  height: 722px;
}

.musicAlbums_disc:hover a::before {
  -webkit-transform: translate(60%, 60%) rotate(45deg);
  -moz-transform: translate(60%, 60%) rotate(45deg);
  -ms-transform: translate(60%, 60%) rotate(45deg);
  -o-transform: translate(60%, 60%) rotate(45deg);
  transform: translate(60%, 60%) rotate(45deg);
}

.musicAlbums_album_li a::before {
  position: absolute;
  display: block;
  top: -100%;
  left: -200%;
  transform-origin: right center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: rgba(222, 79, 50, 0.7);
  width: 200%;
  height: 200%;
  content: "";
  -webkit-transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
  transition: all 600ms ease;
}

.musicAlbums_disc_image {
  width: 100%;
}

.musicAlbums_disc_image img {
  max-width: 100%;
}

.musicAlbums_disc_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.musicAlbums_disc_container > div {
  width: 100%;
  height: 100%;
}

/* .musicAlbums_disc_content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 27px;
  width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.48);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.musicAlbums_disc_title {
  font-size: 25px;
  font-family: "Futura_Bold", sans-serif;
  color: #fff;
  line-height: 1.2;
  text-align: center;
}

.musicAlbums_disc_subtitle {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fff;
  line-height: 2;
  margin-top: 8px;
  text-align: center;
} */

.musicHome_album_col {
  width: 100%;
  position: relative;
  padding: 0 15px;
  flex: 0 0 50%;
}

.musicHome_featured_album_col {
  z-index: 1;
}

.musicHome_featured_album_player {
  width: 100%;
  border: solid 1px #d3d3d3;
  background: #333232;
}

.musicHome_featured_album_player_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% + 58px);
  left: -58px;
  height: 100%;
  position: absolute;
}

.musicHome_featured_album_player_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  left: auto;
  height: 100%;
  position: relative;
  margin-left: -15px;
}

.musicHome_featured_title_bar {
  height: 146px;
  padding: 0 50px;
  display: flex;
  align-items: center;
}

.musicHome_featured_album_link {
  width: 181px;
  height: 42px;
  background: #de4f32;
  text-align: center;
  margin-left: auto;
  margin-top: -1rem;
}

.musicHome_featured_album_link a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 42px;
}

.musicHome_featured_album_artist {
  font-size: 30px;
  color: #ffffff;
  line-height: 1.2;
  padding-bottom: 1rem;
}

.musicHome_featured_album_title {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.67);
  margin-top: -2px;
}

/* Track list */
.musicAlbums_jp_audio {
  width: 100%;
}

.musicAlbums_jp_playlist {
  background: #333232;
  margin-bottom: 2rem;
}

.musicAlbums_jp_playlist_current {
  position: relative;
  height: 38px;
  border-bottom: none;
  padding-left: 55px;
}

.musicAlbums_jp_playlist_current::before {
  display: block;
  position: absolute;
  top: 0;
  left: -4px;
  width: calc(100% + 8px);
  height: 100%;
  opacity: 0;
  content: "";
  visibility: hidden;
  background: #5c5c5c;
  transition: all 200ms ease;
}

.musicAlbums_jp_playlist_current:hover::before {
  visibility: visible;
  opacity: 1;
}

.musicAlbums_jp_playlist_current:not(:last-child) {
  margin-bottom: 14px;
}

.musicAlbums_jp_playlist_current > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 35px;
  padding-right: 45px;
}

.musicAlbums_jp_playlist_current a {
  font-family: "Futura", sans-serif !important;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5) !important;
  line-height: 38px;
  outline: none !important;
}

.musicAlbums_jp_playlist_current > div::before {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "FontAwesome";
  content: "\f04b";
  color: rgba(255, 255, 255, 0.5);
}

.musicAlbums_song_duration {
  font-family: "Futura", sans-serif !important;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5) !important;
  line-height: 38px;
  outline: none !important;
  margin-left: auto;
}

/* The Artist */

.musicAlbums_artist {
  padding-top: 7px;
  padding-bottom: 134px;
  position: relative;
}

.musicAlbums_artist_wallpaper {
  top: 0;
  background-image: url("/images/Music/artist_2.jpg");
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.musicAlbums_artist_container {
  flex: 0 0 58.333%;
  max-width: 58.3333%;
  margin-left: 41.6666%;
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.musicAlbums_artist_content {
  font-size: 14px;
  font-family: "Futura";
  font-weight: 400;
  position: relative;
}

/* Milestones */

.musicAlbums_milestones {
  padding: 108px 50px 0 50px;
  font-size: 14px;
  font-family: "Futura";
  font-weight: 400;
  color: #fff;
  background: #000;
}

.musicAlbums_milestones_container {
  padding-top: 180px;
  padding-bottom: 107px;
  position: relative;
}

.musicAlbums_milestones_wallpaper {
  top: 0;
  background-image: url("/images/Music/milestones.jpg");
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.musicAlbums_milestone_col {
  margin-bottom: 80px;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.musicAlbums_milestone {
  display: flex;
  align-items: center;
}

.musicAlbums_milestone_icon {
  width: 48px;
  height: 48px;
}

.musicAlbums_milestone_icon img {
  max-width: 100%;
}

.musicAlbums_milestone_content {
  padding-left: 26px;
}

.musicAlbum_milestone_counter {
  font-size: 60px;
  color: #ffffff;
  line-height: 0.75;
}
.musicAlbum_milestone_text {
  font-size: 14px;
  color: #ffffff;
  line-height: 0.75;
  margin-top: 24px;
}

/* .musicHome_featured_album_player_relative {
  position: relative;
  left: auto;
  padding: 0;
} */

/* Responsive */

@media only screen and (max-width: 1200px) {
  .musicAlbums_album_li,
  .musicAlbums_milestone_col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .musicAlbums_milestone {
    padding-left: 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .musicHome_featured_title_bar {
    padding: 0 35px;
  }

  .musicHome_featured_album_link {
    width: 167px;
  }

  .musicAlbums_jp_playlist_current {
    padding-left: 35px;
  }

  .musicAlbums_artist_container {
    flex: 1;
    max-width: 100%;
    width: 100%;
    margin-left: 0;
  }

  .musicAlbums_album_li {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .musicAlbums_milestone {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 775px) {
  .musicAlbums_album_li,
  .musicAlbums_milestone_col {
    flex: 1;
    width: 100%;
    max-width: 100%;
  }
  .musicAlbums_disc_rows,
  .musicAlbums_milestones_row {
    flex-direction: column;
  }

  .musicAlbums_milestone {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 575px) {
  .musicAlbums_jp_playlist_current {
    padding-left: 10px;
  }
  .musicAlbums_jp_playlist_current > div {
    padding-right: 10px;
  }
  .musicHome_featured_album_artist {
    font-size: 22px;
  }
  .musicHome_featured_album_title,
  .musicAlbums_jp_playlist_current a,
  .musicAlbums_song_duration {
    font-size: 14px;
    padding-right: 0;
  }

  .musicAlbums_milestones {
    padding: 108px 15px 0 15px;
  }

  .musicAlbum_milestone_counter {
    font-size: 48px;
  }
}
