.homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial;
}

.homeContainer .renderTemplate {
  width: 100%;
  height: 100%;
  background-color: #0f172a;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center stretch;
  padding-top: 30px;
}

.homeContainer .template {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.homeContainer .template .templateContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darkgrey;
  font-size: 2rem;
}

.homeContainer .iframeContainer {
  width: 80%;
  height: 70%;
  max-width: 750px;
  max-height: 500px;
}

.homeContainer .template .financialBackground {
  background-image: url("./Templates/Financial/components/images/Financial.png");
  background-size: cover;
}

.homeContainer .template .hotelBackground {
  background-image: url("./Templates/Hotel/components/images/Hotel.png");
  background-size: cover;
}

.homeContainer .template .iframeClass {
  border: 5px solid black;
  border-radius: 10px;
  pointer-events: none;
  cursor: default;
  object-fit: 100%;
  object-position: center;
  width: 100%;
  height: 100%;
}
.homeContainer .templateTitle {
  text-align: center;
  line-height: 1.5;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.homeContainer .contact {
  background-color: #0f172a;
  text-align: center;
  padding: 1rem;
}

.homeContainer .contact a {
  text-decoration: none;
  color: #eee;
}

@media (max-width: 1024px) {
  .homeContainer .renderTemplate {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 80px;
  }

  .homeContainer .templateContainer {
    height: 100vh;
  }
  .homeContainer .template {
    height: 90vh;
  }

  .homeContainer .iframeContainer {
    width: 90%;
    height: 90%;
  }
}
