.musicHome {
  background: #000;
  color: #ffffff;
  font-family: "Futura";
  font-weight: 400;
}

/* Home Hero */
.musicHome_hero {
  width: 100%;
  height: 892px;
  padding: 0 51px;
}

.musicHome_slide_container {
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  font-family: "Futura";
  position: relative;
}

.musicHome_slide_carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.musicHome_carousel_buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 24px;
  z-index: 10;
  margin-top: 10px;
}

.musicHome_carousel_button {
  width: 20px;
  height: 20px;
  background: #4d4d4d;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 3px;
  border-radius: 0;
  transition: all 200ms ease;
}

.musicHome_activeButton,
.musicHome_carousel_button:hover {
  background: #eee;
}

/* ------------------------------ */

.musicHome_carousel_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.musicHome_slide_effect_out {
  animation: slideOutToLeft 0.5s ease-out forwards;
}

.musicHome_slide_effect_in {
  animation: slideInFromRight 0.5s ease-out forwards;
}

.musicHome_carousel_data_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 72px;
}

.musicHome_home_title {
  font-size: 18px;
}

.musicHome_home_headerTitle {
  margin-top: 24px;
  text-align: center;
}

.musicHome_home_headerTitle h1 {
  font-size: 82px;
  line-height: 1.2;
  font-weight: 500;
}

.musicHome_home_titleLink {
  margin-top: 21px;
  background-color: #000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 400ms ease;
  text-align: center;
}

.musicHome_home_titleLink:hover {
  background-color: #de4f32;
}

.musicHome_home_titleLink a {
  width: 100px;
  padding-left: 17px;
  padding-right: 12px;
  font-size: 24px;
  color: #ffffff;
  transition: all 200ms ease;
}

/* Feature Album */
.musicHome_featured_album {
  padding-top: 107px;
  position: relative;
}

.musicHome_featured_background {
  background-image: url("/images/Music/featured.png");
  top: auto;
  bottom: -185px;
  max-height: 489px;
}

.musicHome_album_featured_background {
  background-image: url("/images/Music/featured_album.jpg");
  top: 0;
}

.musicHome_background_image_album {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.musicHome_featured_col {
  position: relative;
  padding: 0 15px;
  width: 100%;
  margin-left: 50%;
}

.musicHome_section_title_container {
  padding-left: 20px;
}

.musicHome_featured_row {
  margin-top: 71px;
}

/* Shows */

.musicHome_shows {
  padding-top: 175px;
}

.musicHome_shows_row {
  margin-top: -55px;
}

.musicHome_shows .musicHome_subContainer {
  flex-wrap: nowrap;
}
.musicHome_shows_col {
  padding: 0 15px;
  width: 100%;
  flex: 1;
}

.musicHome_shows_index {
  z-index: 10;
}
.musicHome_shows_list_col {
  z-index: 1;
}

.musicHome_shows_cols {
  flex: 0 0 66.66%;
  order: 1;
  position: relative;
  padding: 0 15px;
}

.musicHome_shows_list_container {
  position: absolute;
  width: calc(100% + 13px);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.musicHome_shows_list li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 81px;
  background: #333232;
  padding-left: 11px;
  padding-right: 37px;
  color: #ffffff;
  font-size: 18px;
}

.musicHome_shows_list li a {
  color: #fff;
}

.musicHome_shows_list li:not(:last-of-type) {
  margin-bottom: 5px;
}

.musicHome_show_date {
  width: 78px;
  height: 60px;
  background: #de4f32;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 23px;
}

.musicHome_show_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 23px;
}

.musicHome_show_name {
  flex: 1.3;
  margin-right: 23px;
}

.musicHome_show_name a:hover {
  color: #de4f32;
}

.musicHome_show_location {
  flex: 0.7;
  /* margin-left: 23px; */
}

.musicHome_show_shop {
  width: 120px;
  height: 35px;
  background: #000;
}

.musicHome_show_shop:hover {
  background: #de4f32;
}

.musicHome_show_shop a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 35px;
  text-align: center;
}

.musicHome_shows_ticket {
  margin-left: auto;
}
.musicHome_shows_image_cols {
  max-width: 33.33%;
  flex: 0 0 33.33%;
  padding: 0 15px;
  order: 2;
}

.musicHome_shows_image {
  left: -98px;
  width: calc(100% + 252px);
  position: relative;
}

.musicHome_shows_image img {
  max-width: 100%;
  vertical-align: middle;
}

.musicHome_image_overlay {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  height: 100%;
  background: #de4f32;
  transition: all 1200ms ease;
  z-index: 1;
}

.overlay-moved {
  width: 0%;
}

.musicHome_shows_image .musicHome_image_overlay {
  z-index: 0;
}

/* The Artist */

.musicHome_artist {
  padding-bottom: 106px;
  background: #000;
}

.musicHome_artist_image_container {
  flex: 0 0 33%;
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.musicHome_artist_col {
  flex: 0 0 58%;
  margin-left: 9%;
  padding: 0 15px;
}

.musicHome_artist_image {
  width: calc(100% + 205px);
  left: -185px;
  padding-right: 20px;
  position: relative;
}

.musicHome_artist_image img {
  max-width: 100%;
  vertical-align: middle;
  height: 100%;
  border-style: none;
}

.musicHome_artist_text {
  margin-top: 39px;
}

.musicHome_artist_content {
  padding-top: 175px;
}

.musicHome_section_subtitle {
  font-size: 18px;
  line-height: 0.75;
}

.musicHome_section_title {
  margin-top: 7px;
  margin-left: -2px;
}

.musicHome_section_title h1 {
  font-size: 48px;
  font-weight: 500;
}

.musicHome_artist_text p {
  line-height: 2.1;
}

.musicHome_artist_text p:not(:last-child) {
  margin-bottom: 30px;
}

.musicHome_artist_sig {
  margin: 51px 0 62px 15px;
}

/* Extra */
.musicHome_extra {
  padding-left: 50px;
  padding-right: 50px;
}

.musicHome_extra_container {
  position: relative;
}

.musicHome_subContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.musicHome_container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.musicHome_extra_cols {
  width: 100%;
  padding: 0 15px;
  flex: 0 0 75%;
}

.musicHome_background_image {
  background-image: url("/images/Music/extra.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.musicHome_extra_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 448px;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}

.musicHome_extra_title h1 {
  font-size: 60px;
  font-weight: 400;
}

.musicHome_extra_text {
  margin-top: 4px;
  line-height: 2.1;
}

.musicHome_extra_button {
  width: 161px;
  height: 46px;
  background: #000000;
  margin-top: 35px;
}

.musicHome_extra_button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.musicHome_extra_button a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 46px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .musicHome_container {
    max-width: 974px;
  }

  .musicHome_shows_image {
    left: -198px;
  }
}

@media only screen and (max-width: 1000px) {
  .musicHome_container {
    max-width: 720px;
  }

  .musicHome_cols {
    flex: 1;
  }

  .musicHome_featured_col {
    margin-left: 0;
  }

  .musicHome_shows .musicHome_subContainer {
    margin-top: 71px;
  }

  .musicHome_shows_list_container {
    width: 100%;
    top: auto;
    transform: none;
    padding: 0 15px;
    position: relative;
  }

  .musicHome_featured_title_bar {
    padding: 0 35px;
  }

  .musicHome_featured_album_link {
    width: 167px;
  }
  .musicHome_featured_album_image {
    width: calc(100% + 242px);
    height: 722px;
  }

  .musicHome_shows_cols {
    position: absolute;
    top: 25%;
    left: 0;
    z-index: 1;
    order: 2;
    flex: 1;
    width: 100%;
    height: 100%;
  }

  .musicHome_shows_image {
    left: auto;
    width: 100%;
  }

  .musicHome_shows_image_cols {
    max-width: 100%;
    flex: 1;
    order: 1;
  }

  .musicHome_artist_image_container {
    position: absolute;
    width: 100%;
    right: 0;
    top: 50px;
    text-align: right;
    flex: 1;
  }

  .musicHome_artist_image {
    left: auto;
    padding-right: 0;
    width: 100%;
  }

  .musicHome_artist_image img {
    max-width: 46%;
    opacity: 0.5;
  }

  .musicHome_artist_col {
    flex: 1;
    position: relative;
    margin-left: 0;
  }

  .musicHome_extra_title h1 {
    font-size: 48px;
  }

  /* Featured */
  .musicHome_section_title_container {
    padding-left: 0;
  }
}

@media only screen and (max-width: 775px) {
  .musicHome_container {
    max-width: 540px;
  }

  .musicHome_featured_album_image {
    width: 100%;
    height: 272px;
  }

  .musicHome_artist_image_container {
    top: 130px;
  }

  .musicHome_artist_image img {
    max-width: 54%;
  }

  .musicHome_show_info {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: space-around;
    padding-right: 0;
  }

  .musicHome_shows_list li {
    font-size: 14px;
  }

  .musicHome_show_name,
  .musicHome_show_location {
    flex: 0;
  }

  .musicHome_album_col {
    flex: 1;
    width: 100%;
  }

  .musicHome_featured_row {
    flex-direction: column;
  }

  .musicHome_featured_album_player_container {
    position: relative;
    width: 100%;
    left: auto;
    height: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .musicHome_extra_title h1,
  .musicHome_section_title h1 {
    font-size: 36px;
  }

  .musicHome_extra,
  .musicHome_hero {
    padding: 0 15px;
  }

  .musicHome_show_shop {
    width: 60px;
  }

  .musicHome_show_date {
    font-size: 0.8rem;
    width: 50px;
    height: 25px;
  }
  .musicHome_shows_list li {
    padding-right: 11px;
  }

  .musicHome_show_shop_buy {
    display: none;
  }

  .musicHome_home_titleLink a {
    font-size: 15px;
  }
}
