.movies_carouselItem {
  display: flex;
  flex-direction: column;
  object-fit: contain;
  padding: 10px;
}

.movies_carouselItem__img {
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px black;
}

.movies_carouselItem__txt {
  font-weight: bold;
}

.alice-carousel__wrapper {
  max-height: 22rem;
}

.alice-carousel__wrapper ul li img {
  max-width: 10rem;
}

.alice-carousel__wrapper ul {
  justify-content: flex-start;
}
