@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hotelContainer {
    font-family: "Poppins", sans-serif;
}

.hotelContainer a {
    text-decoration: none;
}

.hotelContainer .flex {
    display: flex;
}

.hotelContainer .flex_space {
    display: flex;
    justify-content: space-between;
}

.hotelContainer .container {
    max-width: 85%;
    margin: auto;
}

.hotelContainer li {
    list-style-type: none;
}

.hotelContainer button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.hotelContainer .primary-btn {
    padding: 10px 20px;
    background-color: #31b675;
    color: #fff;
    font-weight: 400;
    transition: 0.5s;
}

.hotelContainer .primary-btn:hover {
    background-color: #000;
    color: white;
}

.hotelContainer .secondary-btn {
    padding: 12px 30px;
    background-color: #31b675;
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin-top: 20px;
}

.hotelContainer .outline-btn {
    padding: 12px 30px;
    background-color: #fff;
    color: black;
    font-weight: 400;
    font-size: 15px;
    margin-top: 20px;
    border: 2px solid #000;
}

.hotelContainer .secondary-btn i {
    margin: 7px 0 0 10px;
}


.hotelContainer .control-btn button {
    background-color: rgba(255, 255, 255, 0.3);
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
  }

.hotelContainer .control-btn i {
    background-color: #31b675;
    width: 45px;
    height: 45px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
  } 

  .hotelContainer input {
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
  }

  .hotelContainer .row {
    width: 45%;
  }

  .hotelContainer .top {
    margin-top: 100px;
  }

  .hotelContainer .mtop {
    margin-top: 50px;
  }

  .hotelContainer .heading {
    text-align: center;
    padding: 50px 0 50px 0;
  }

  .hotelContainer .heading h1 {
    font-size: 35px;
    font-weight: 500;
  }

  .hotelContainer .heading .line {
    width: 18%;
    margin: auto;
    margin-top: 20px;
    border-bottom: 2px dashed #999999;
    position: relative;
  }

  .hotelContainer .heading .line::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #31b675;
    border-radius: 50%;
    top: -6px;
    left: -20px;
  }

  .hotelContainer .heading .line::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #31b675;
    border-radius: 50%;
    top: -6px;
    right: -20px;
  }

  .hotelContainer .full_container {
    max-width: 95%;
    margin: auto;
  }

  .hotelContainer .main-content {
    width: 70%;
  }

  .hotelContainer .side-content {
    width: 30%;
    margin-left: 40px;
  }

  .hotelContainer .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .hotelContainer .grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .hotelContainer .icon {
    margin-top: 20px;
  }

  .hotelContainer .icon i {
    background: #f5f5f5;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #e7e3e3;
    border-radius: 5px;
  }

  @media screen and (max-width: 768px) {
    .container {
      max-width: 90%;
    }
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .main-content {
      width: 100%;
    }
    .side-content {
      width: 100%;
      margin-left: 0px;
    }
  }