.homeNav_profile {
  position: absolute;
  padding: 2rem 0.5rem;
  box-shadow: var(--box-shadow);
  font-size: 1rem;
  width: 18rem;
  border-radius: 1rem;
  right: 0rem;
  top: 4.5rem;
  z-index: 22222222222;
  background-color: var(--main-bg-color);
}

.homeNav_profile_account {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 1.5rem;
}

.homeNav_profile_account_info p {
  font-weight: 600;
}

.homeNav_profile_menu_one_item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s ease-in;
  line-height: 2;
}

.homeNav_profile_menu_one_item:hover {
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  border-radius: 0.3rem;
}
